<nav>
  <div class="logo-name">
      <div class="logo-image">
         <img src="images/logo.png" alt="">
      </div>

      <span class="logo_name">Logo</span>
  </div>

  <div class="menu-items">
      <ul class="nav-links">
          <li><a href="users">
              <i class="uil uil-estate"></i>
              <span class="link-name">Clients</span>
          </a></li>
          <li><a href="accounts">
              <i class="uil uil-files-landscapes"></i>
              <span class="link-name">Comptes</span>
          </a></li>


      </ul>

      <ul class="logout-mode">
          <li><a href="#">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
          </a></li>

          <li class="mode">
                
          <div class="mode-toggle">
            <span class="switch"></span>
          </div>
      </li>
      </ul>
  </div>

</nav>
